// About
.home--about__wrapper {
    color: white;
    background-color: $navy;

    @media (max-width: $mobile-max-width) {
        margin: 0 -40px !important;
    }

    .collapsible-more-link {
        @include sans-serif-bold;
        text-transform: uppercase;
        font-size: 18px;
        color: white;
    }
}

.home--about-excerpt__wrapper {
    display: flex;
    flex-direction: row;

    @media (max-width: $mobile-max-width) {
        flex-wrap: wrap;
        &>* {
            width: 100%;
        }
    }

}
.about-featured-image__wrapper {
    position: relative;
}
.about-featured-image {
    width: 80px;
    float: right;
    margin-right: 30px;
    @media (max-width: 767px) {
        display: block;
        float: none;
        margin: 0 auto 30px auto;
    }
}
.home--about-excerpt {
    font-size: 20px !important;
    line-height: 26px!important;
}
.home--about-more__wrapper {
    background-color: $navy;
    color: white;
    font-size: 18px;

    // @media (max-width: $mobile-max-width) {
    //     margin: auto -40px;
    // }

    .capabilities-header {
        @include sans-serif-bold;
    }


    hr {
        border-color: white;
    }
}
