.article-grid__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.article-grid-item {

    width: calc(33.333333vw - calc( calc(72px + 40px + 17px) / 3 )); // container padding left + space between items + 17px (scroll bar width)

    @media (max-width: $mobile-max-width) {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    @media (min-width: $tablet-min-width) {
        margin: 10px;

        &:nth-of-type(3n-2) {
            margin-left: 0;
        }

        &:nth-of-type(3n) {
            margin-right: 0;
        }
    }

    .article-image {
        height: 200px;
        width: 100%;
        background-size: cover;
    }


    .article-title {
        @include serif-bold;
        font-size: 28px;
    }

    .article-excerpt {
        font-size: 18px;
    }

    .article-source {
        @include serif-italic;
    }


    a.read-link {
        color: black;
    }

    hr {
        border-color: black;
        line-height: 2px;
    }
}

.article-grid-item:last-of-type {
    hr {
        display: none;
    }
}

@media(min-width: $screen-sm-min) {
    .article-grid-item {
        hr {
            display: none;
        }
    }
}

@media(min-width: $screen-md-max) {
    .article-grid-item {

        .article-image {
            height: 250px;
            width: 100%;
            background-size: cover;
        }

    }
}
