
.nectar-social a.nectar-sharing:hover {
    text-decoration: none;
}

.single-post {

    .heading-title h1.entry-title {
        margin-bottom: 10px;
    }

    .post-content p {
        font-size: 22px;
        line-height: 32px;
    }
}
