// ==== CONFIGURATION ==== //

// Colors
$pink: #b53468;
$tan: #F3EEE8;

// Width of the overall site as well as the left and right content columns
//$width-site:    1000px;
//$width-left:    650px;
//$width-right:   350px;

$container-padding: 80px;

// Breakpoints (TODO - figure out if these are still used)
// $break-small:   480px;
// $break-medium:  620px;
// $break-large:   800px;

// Bootstrap Breakpoints
// xs = 0 - 767px
// sm = 768 - 991px
// md = 992 - 1199px
// lg = 1200 & >
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

// A standard margin
//$spacer:        30px;

// A modest palette; see `_library.scss` for the color() function
//$_color: (
//  text: #333,
//  link: steelblue,
//  link-muted: steelblue,
//  body-background: white
//);

// Metadata; use metadata() to access
$_metadata: (
  theme-name:               "Salient Second Child"
, theme-template:           "salient"
, theme-uri:                ""
, theme-author:             "Dylan Spurgin"
, theme-author-uri:         "http://dylanspurgin.com"
, theme-description:        "Salient Child theme for WaldenHyde.com"
, theme-version:            "0.1.0"
, theme-license:            ""
, theme-license-uri:        ""
, theme-tags:               ()
, theme-text-domain:        ""
, theme-text-domain-path:   "/languages/"
);
