.header-wrapper {
    z-index: 10000;
}
@media (max-width: $mobile-max-width) {
    .header-wrapper {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
    }
}

header {
    position: fixed;
    z-index: 10000 !important;

    height: 100vh;
    width: 72px;

    @media (max-width: $mobile-max-width) {
        display: flex;
        justify-content: space-between;

        width: 100%;
        height: auto;
        background-color: rgba(255,255,255,.9);
    }
}

.header-logo__container {
    position: relative;
    img {
        transform: rotate(-90deg);
        position: absolute;
        width: 200px;
        margin-top: 126px;
        margin-left: -64px;
    }

    @media (max-width: $mobile-max-width) {
        img {
            position: relative;

            transform: none;
            width: 140px;
            margin: 20px 20px 0 0;
        }
    }
}



.nav-toggle>input:checked + .nav-flyout {
    display: flex;
}

// Hamburger menu icon
.nav-toggle {

    display: inline-block;
    margin: 18px 0 0 20px;

    @media (max-width: $mobile-max-width) {
        margin: 10px 0 10px 20px;
    }

    i {
        position: relative;
        z-index: 1;

        font-size: 36px;
        line-height: 36px;

        color: black;
        background-color: transparent !important;
        cursor: pointer;
    }
}
.nav-toggle:hover {
    text-decoration: none !important;
}
.nav-toggle--icon-show {
    display: block;
}
i.nav-toggle--icon--hide {
    display: none;
}

ul.nav-flyout {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;
    list-style: none none;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(255,255,255,.9);

    display: none;
    &.animated {
        display: flex !important; // Don't set display if javascript is active
    }

    li {
        padding: 2vh 0;
    }

    li.menu-item a {
        color: #000 !important;

        @include sans-serif-bold;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
    }

    li.menu-item a:hover {
        border-bottom: 2px solid #000;
    }
}

.nav-flyout ul li:last-child {
    padding-bottom: 0 !important;
    a {
        border-bottom: none !important;
    }
}

.menu-up {
    transition: .4s ease-in-out;
    transform: translate(0, -100px);
}

.menu-down {
    transition: .4s ease-in-out;
    transform: translate(0, 0);
}
