.home-page {
    background-color: white;
}

.home--hero-video {
    display: block;
    min-width: 100%;
    max-width: 100%;
    // min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    transition: 1s opacity;
    visibility: visible;
}

.site-tagline__container {
    position: absolute;
    left: 14vw;
    top: 86px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40vw;

    @media (max-width: $mobile-max-width) {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
    }

}
.site-tagline {
    font-size: 5vw;
    line-height: 110%;
    margin-top: 0;
    padding: 0;

    @media (max-width: $mobile-max-width) {
        text-align: center;
        font-size: 8vw;
        padding: 20px 40px;
        margin-bottom: 0;
    }

    @media (min-width: $desktop-min-width) {
        font-size: 48px;
    }
}

.more-link__wrapper {
    display: none; // will fadein on non-mobile
    position: absolute;
    left: 0;
    top: 90vh;
    z-index: 3;

    width: 100%;
    text-align: center;

    .more-link {
        color: black;
        text-transform: uppercase;
        font-size: 18px;
        @include sans-serif-bold;

        display: inline-block;
        padding: 0 4px;
        background-color: white;
        padding: 2px 8px;
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }
}

@media (max-width: $mobile-max-width) {
    .home--section-lead-in {
        padding: 27px 27px 27px 27px;
        font-size: 32px;
        line-height: 125%;
        text-align: center;
    }
}

.home--section-header {
    text-align: center;
    padding-bottom: 32px;
    h2 {
        @include sans-serif-bold;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 2.5px;
    }
}

.home--section-hr {
    hr {
        border: solid black 1px;
        margin: 10px 0;
    }
    padding-bottom: 0;
}

// .home--section-excerpt {
//     font-size: 24px;
//     line-height: 34px;
//
//     p:last-child {
//         padding-bottom: 0;
//         margin-bottom: 0;
//     }
// }
