.nectar-social {

    .n-shortcode, a.nectar-sharing {
        display: inline-block !important;
        line-height: 40px !important;
        height: 32px !important;
    }
    .n-shortcode>.nectar-love {
        padding-right: 6px !important;
    }
}
