#portfolio-nav {
    position: relative !important;
    text-align: center;

    #all-items a {
        float: none !important;
        margin: 0 !important;
    }

    a:hover {
        text-decoration: none;
    }
}

#portfolio-nav.portfolio-nav--mobile {
    margin-top: 28px;
    margin-bottom: 20px;

    .portfolio-nav--prev {
        text-align: left;
    }

    .portfolio-nav--all-items {
        text-align: center;
    }

    .portfolio-nav--next {
        text-align: right;
    }
}

#portfolio-nav.portfolio-nav--desktop {
    margin-top: 10px;
    margin-bottom: 60px;

    .portfolio-nav--all-items {
        text-align: left;
    }

    .portfolio--title {
        font-size: 36px;
    }

    .portfolio-nav--prev-next {
        text-align: right;
    }
}

.portfolio--title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}

.portfolio--item-subtitle {
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 8px; // Space below when stacked above description
}

.portfolio--item-description {
    font-size: 22px;
    line-height: 24px;
}

.portfolio--recent-work {
    max-width:1155px; // Max-width of portfolio images;
    text-align: right;
}
