#portfolio-nav {
    position: relative !important;
    text-align: center;

    #all-items a {
        float: none !important;
        margin: 0 !important;
    }

    a:hover {
        text-decoration: none;
    }
}

#portfolio-nav.portfolio-nav--mobile {
    margin-top: 28px;
    margin-bottom: 20px;

    .portfolio-nav--prev {
        text-align: left;
    }
    .portfolio-nav--all-items {
        text-align: center;
    }
    .portfolio-nav--next {
        text-align: right;
    }
}
.portfolio--title--mobile {
    text-align: center;
    text-transform: uppercase;
    @include sans-serif-bold;
    font-size: 14px !important;
}

#portfolio-nav.portfolio-nav--desktop {
    margin-top: 10px;
    margin-bottom: 60px;

    .portfolio-nav--all-items {
        text-align: left;
    }

    .portfolio--title {
        font-size: 14px;
    }

    .portfolio-nav--prev-next {
        text-align: right;
    }
}

.portfolio--title {
    text-align: center;
    text-transform: uppercase;
    @include sans-serif-bold;
    letter-spacing: 2.5px;
}

.portfolio--subtitle-excerpt-row {
    margin-bottom: 24px;
}

.portfolio--item-subtitle {
    font-size: 28px;
    line-height: 28px;
    @include serif-bold-italic;
    margin-bottom: 8px; // Space below when stacked above description
}
@media (max-width: $mobile-max-width) {
    .portfolio--item-subtitle {
        font-size: 24px;
    }
}

.portfolio--item-description {
    font-size: 22px;
    line-height: 28px;
    margin-top: -4px; // Line top up with portfolio--item-subtitle
}
@media (max-width: $mobile-max-width) {
    .portfolio--item-description {
        font-size: 18px;
        line-height: 20px;
    }
}

.portfolio--recent-work {
    width: 100%;
    text-align: center;
    position: relative;
}

.portfolio--recent-work--image-mock {
    // Container to match the sizing of the portfolio images
    width: 100%;
    max-width:1155px; // Max-width of portfolio images;
    position: relative;
    margin: 0 auto;
}

.portfolio--recent-work--container {
    float: right;
    text-align: left;
}

.portfolio--recent-work-title {
    @include serif-bold;
}

a.portfolio--recent-work-thumbnail {
    display: inline-block;
    width: 180px;
    height: 180px;
    background-size: cover;
    margin-right: 4px;
}

a.portfolio--recent-work-thumbnail:last-of-type {
    margin-right: 0;
}

@media (max-width: 999px) {
    a.portfolio--recent-work-thumbnail {
        width: 80px;
        height: 80px;
    }
}
