.team-grid-item__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.team-grid-item {
    width: calc(33.333333vw - calc( calc(72px + 40px + 17px) / 3 )); // container padding left + space between items + 17px (scroll bar width)
    margin: 10px;

    @media (min-width: $tablet-min-width) {
        &:nth-of-type(3n-2) {
            margin-left: 0;
        }

        &:nth-of-type(3n) {
            margin-right: 0;
        }
    }


    img {
        width: 100%;
        max-width: 100%;
    }

    .team-position {
        @include sans-serif-bold;
        text-transform: uppercase;
        font-size: 14px;
    }

    @media (max-width: $mobile-max-width) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100vw;

    }
}
