body {
    @include serif;
}

.home #page-header-bg {
    display: none !important;
}

.container-wrap,
.project-title {
    background-color: white;
}

#footer-outer {
    background-color: white;

    #copyright {
        background-color: white;
    }
}
