body {
    @include serif;
}

.home #page-header-bg {
    display: none !important;
}

.container-wrap,
.project-title {
    background-color: $white;
}

@media only screen and (max-width: $mobile-max-width) {
    .container-fluid {
        padding-left: $container-padding-phone;
        padding-right: $container-padding-phone;
    }
}

@media only screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    .container-fluid {
        padding-left: $container-padding-tablet;
        padding-right: $container-padding-tablet;
    }
}

@media only screen and (min-width: $desktop-min-width) {
    .container-fluid {
        padding-left: $container-padding-desktop;
        padding-right: $container-padding-desktop;
    }
}

#page-header-bg h1 {
    @include sans-serif-bold;
    text-transform: uppercase;
}

strong {
    @include sans-serif-bold;
}

blockquote {
    @include serif;
    line-height: 140%;
}
